<div class="skin" data-bs-toggle="modal" data-bs-target="#skinModal">
  <img src="./assets/svg/avatar.svg" alt="Avatar" />
</div>

<skin-page></skin-page>

<form class="d-flex flex-column">
  <label>nickname:</label>
  <input type="text" placeholder="Usuario" />
  <div class="d-flex gap-2">
    <button type="button" class="botonSecundario d-flex align-items-center gap-1 justify-content-center" routerLink="/rooms">
      <img src="./assets/svg/door.svg" alt="">
      <span>rooms</span>
    </button>
    <button class="botonPrincipal d-flex align-items-center gap-1 justify-content-center">
      <img src="./assets/svg/control.svg" alt="">
      <span>play</span>
    </button>
  </div>
</form>