/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Nunito", sans-serif !important;

  text-transform: uppercase !important;

  transition: all 0.2s linear;

}

h1, h2, h3, h4, h5 {
  margin: 0 !important; 
  padding: 0 !important;
}

div {
  width: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #0a5efb !important;

}

h1 {
  font-size: 1.5em !important; 
  font-weight: 900 !important;
}

span {
  font-size: 18px !important;
  font-weight: 900 !important;
}

.background {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
  background-image: url('./assets/img/background.webp');
}

form label {
  opacity: 0.8;
}

.botonPrincipal {
  width: 100%;
  color: #002043 !important;
  margin: 1em 0 0 0;
  padding: 0.5em 1em;
  border-radius: 50px;
  background-color: #ffe100;
  border: 4px solid #002043;
  font-weight: 900;

}

.botonPrincipal:hover {
  background-color: #ffef7c;
}
.botonSecundario {
  width: 100%;
  color: #002043 !important;
  margin: 1em 0 0 0;
  padding: 0.5em 1em;
  border-radius: 50px;
  background-color: #13bafe;
  border: 4px solid #002043;
  font-weight: 900;
}

.botonSecundario:hover {
  background-color: #b1fdff;
}
