<div class="modal fade" id="joinRoomModal" tabindex="-1" aria-labelledby="joinRoomModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content py-3 px-3">
      <h1 class="text-center">Enter code:</h1>

      <div class="container px-5">
        <div class="mt-4 gap-2 d-flex align-items-center justify-content-center">
          <label class="fs-5">code:</label>
          <input type="text" class="inputForm" placeholder="3772" />
        </div>
      </div>
      <button class="botonPrincipal d-flex align-items-center gap-1 justify-content-center">
        <img src="./assets/svg/control.svg" alt="">
        <span>play</span>
      </button>
    </div>
  </div>
</div>